/* FORMULARIO */
.content-formulario-accion-01{
  margin:7rem 10rem 0rem 0rem;
  @media screen and (max-width: 1100px) {
    margin:7rem 0rem 0rem 0rem;
  }
  h1:nth-of-type(1){
    font-family: $Century-Bold;
    color:$negro;
    font-size: $tx-size-01;
    margin:0rem 0rem 4rem 0rem;
    @media screen and (max-width: $window-size-04) {
      font-size: $tx-size-04;
    }
  }
  p:nth-of-type(1){
    font-family: $Century-Regular;
    color:$negro;
    font-size: $tx-size-07;
    @media screen and (max-width: $window-size-04) {
      margin:0rem 0rem 7rem 0rem;
    }
  }
}

.content-formulario-accion-02{
  margin:7rem 0rem 0rem 0rem;
  border-left: 1px solid $color02;
  padding: 0rem 0rem 1.5rem 3rem;
  @media screen and (max-width: $window-size-03) {
    border-left: none;
    padding: 0rem 0rem 1.5rem 0rem;
    margin:0rem 0rem 5.5rem 0rem;
  }
  p:nth-of-type(1){
    font-family: $Century-Regular;
    color:$negro;
    font-size: $tx-size-07;
    span{
      color:$color03;
    }
  }
}


.margen-box-form{
  padding:0rem 3.5rem 0rem 3.5rem;
  @media screen and (max-width: $window-size-02) {
    padding:0rem 2.5rem 0rem 2.5rem;
  }
  @media screen and (max-width: $window-size-03) {
    padding:0rem 1.5rem 0rem 1.5rem;
  }
  @media screen and (max-width: $window-size-04) {
    padding:0rem 3.5rem 0rem 3.5rem;
  }
  @media screen and (max-width: $window-size-05) {
    padding:0rem 3rem 0rem 3rem;
  }
}

.form-group{
  margin:0rem 0rem 3.5rem 0rem;
  // @media screen and (max-width: $window-size-04) {
  //   margin:0rem 0rem 1.7rem 0rem;
  // }
}

label{
  color: $negro;
  font-family: $Century-Regular;
  font-size: $tx-size-07;
  span{
    color: $color03;
  }
  @media screen and (max-width: $window-size-04) {
    font-size: $tx-size-06;
  }
}

.label-cotizar-servicios{
  margin-bottom: 0rem;
}
.tx-label-cotizar{
  font-family: $Century-Italic;
  font-size: $tx-size-08;
  margin:0rem 0rem 1rem 0rem;
}


.form-control{
  border-radius: .5rem;
  border: .1rem solid $gris05;
  color: $negro;
  background: $blanco;
  font-family: $Century-Regular;
  font-size: $tx-size-07;
  height: 4rem;
  padding: 0rem 2rem;
  outline: none;
  &:focus{
    border: .1rem solid $color02;
    box-shadow: none;
  }
  @media screen and (max-width: $window-size-04) {
    font-size: $tx-size-07;
  }
}

textarea.form-control{
  border-radius: .5rem;
  border: .1rem solid $gris05;
  color: $negro;
  background: $blanco;
  font-family: $Century-Regular;
  font-size: $tx-size-07;
  padding: .5rem 2rem;
  outline: none;
  &:focus{
    border: .1rem solid $color02;
    box-shadow: none;
  }
  @media screen and (max-width: $window-size-04) {
    font-size: $tx-size-07;
  }
}

.form-control.select:read-only {
  background-color: $blanco;
}

.form-control.error{
  border-radius: .5rem;
  border: .1rem solid $color03;
  color: $color03;
  &:focus{
    border: .1rem solid $color03;
    box-shadow: none;
  }
}

textarea.form-control.error{
  border-radius: .5rem;
  border: .1rem solid $color03;
  color: $color03;
  &:focus{
    border: .1rem solid $color03;
    box-shadow: none;
  }
}


.form-control.correcto{
  border-radius: .5rem;
  border: .1rem solid $color02;
  color: $negro;
  &:focus{
    border: .1rem solid $color02;
    box-shadow: none;
  }
}

textarea.form-control.correcto{
  border-radius: .5rem;
  border: .1rem solid $color02;
  color: $negro;
  &:focus{
    border: .1rem solid $color02;
    box-shadow: none;
  }
}

.form-control.select{
  background: url('../images/icon-down-form-select.webp');
  background-position: 97.5% center;
  background-repeat: no-repeat;
  background-size: 14px 8px;
}
.form-control.optional{
  margin:0rem 0rem 0rem 0rem;
}

::placeholder {
  font-family: $Century-Italic;
  color: $gris05;
}

.select.card.card-body{
  padding: 0;
  margin: 0;
  // border-radius: .5rem;
  border: .1rem solid $color02;
  ul{
    background: $blanco;
    margin: 0;
    list-style: none;
    li{
      display: block;
      color: $negro;
      cursor: pointer;
      padding: 1.2rem 2rem;
      font-family: $Century-Regular;
      font-size: $tx-size-07;
      &:focus{
        color: $negro03;
        background: $gris10;
        font-weight: bolder;
      }
      &:hover{
        color: $negro03;
        background: $gris10;
        font-weight: bolder;
      }
      
    }
  }
}

.iti__selected-flag{
  padding: 0rem .5rem 0rem 1rem;
  outline: none;
}
.iti__country-list{
  white-space:normal;
}

.iti__country-name{
  // font-family: $Century-Regular;
  font-size: $tx-size-07;
}
.iti__dial-code{
  // font-family: $Century-Regular;
  font-size: $tx-size-07;
}

.tx-msg-form{
  // position: absolute;
  color: $color03;
  font-family: $Century-Regular;
  font-size: $tx-size-09;
  margin:.2rem 0rem 0rem 0rem;
  @media screen and (max-width: $window-size-04) {
    font-size: $tx-size-09;
  }
}
.tx-msg-form.center{
  // position: static;
  text-align: center;
}

.checkbox{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  #checkbox-web-empresa{
    margin: .25rem 0rem 0rem 0rem;
  }
  #checkbox-web-empleado{
    margin: .25rem 0rem 0rem 0rem;
  }
  .tx-terminos{
    color: $negro;
    font-family: $Century-Regular;
    font-size: $tx-size-07;
    margin: 0rem 0rem 0rem 1rem;
    line-height: 1;
    @media screen and (max-width: $window-size-04) {
      font-size: $tx-size-07;
    }
    span a{
      cursor: pointer;
      color: $negro;
      font-family: $Century-Bold;
      font-size: $tx-size-07;
      @media screen and (max-width: $window-size-04) {
        font-size: $tx-size-07;
      }
    }
  }
}

.list-unstyled{
  position: absolute;
  color: $color03;
  font-family: $Century-Regular;
  font-size: $tx-size-09;
  margin:.2rem 0rem 0rem 0rem;
  @media screen and (max-width: $window-size-04) {
    font-size: $tx-size-09;
  }
}

.contenedor-input-check{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  #checkbox-opcion-03-a,
  #checkbox-opcion-03-b,
  #checkbox-opcion-03-c,
  #checkbox-opcion-03-d,
  #checkbox-opcion-03-e,
  #checkbox-opcion-03-f,
  #checkbox-opcion-03-g{
    margin: .5rem 0rem 0rem 0rem;
  }
  .tx-checkbox-a{
    margin: 0rem 0rem 2rem 2rem;
  }
  .tx-checkbox-b{
    margin: 0rem 0rem 0rem 2rem;
  }
}