/* SECTION INDEX WEB 05 */
.section-index-web-05{
  padding: 4rem 0rem 0rem 0rem;
  margin:0rem 0rem 10rem 0rem;
  background: $gradient05;
  @media screen and (max-width: $window-size-04) {
    background: $gris04;
    padding: 6rem 0rem 4rem 0rem;
  }
}

.content-index-xs-05-01{
  margin:0rem 0rem 0rem 0rem;
  text-align: right;
  // p:nth-of-type(1){
  //   font-family: $Century-Regular;
  //   color:$negro;
  //   font-size: $tx-size-06;
  //   text-align: left;
  //   margin:0rem 0rem 1.7rem 0rem;
  //   line-height: 1.25;
  //   span{
  //     font-family: $Century-Bold;
  //   }
  // }
  p:nth-of-type(1){
    font-family: $Century-Regular;
    color:$negro;
    font-size: $tx-size-06;
    text-align: left;
    margin:0rem 0rem 5.5rem 0rem;
    line-height: 1.25;
    span{
      font-family: $Century-Bold;
    }
  }
  img:nth-of-type(1){
    width: 150px !important;
  }
}

.content-index-web-05-01{
  margin:5rem 4.5rem 0rem 0rem;
  h3:nth-of-type(1){
    font-family: $Century-Bold;
    color:$blanco;
    font-size: $tx-size-03;
    // text-align: justify;
  }
}

.content-index-web-05-02{
  margin:0rem 0rem 0rem .5rem;
  text-align: right;
  p:nth-of-type(1){
    font-family: $Century-Regular;
    color:$negro;
    font-size: $tx-size-06;
    margin:0rem 0rem 3.5rem 0rem;
    text-align: left;
    span{
      font-family: $Century-Bold;
    }
  }
  p:nth-of-type(2){
    font-family: $Century-Regular;
    color:$negro;
    font-size: $tx-size-06;
    margin:0rem 0rem 8rem 0rem;
    text-align: left;
    span{
      font-family: $Century-Bold;
    }
  }
  img:nth-of-type(1){
    width: 150px !important;
  }
}