/* SECTION INDEX WEB 02 */
.content-index-web-02-01{
  h2:nth-of-type(1){
    font-family: $Century-Bold;
    color:$color01;
    font-size: $tx-size-05;
    margin:0rem 0rem 10rem 0rem;
    text-align: center;
  }
  @media screen and (max-width: $window-size-04) {
    margin:0rem 0rem 8rem 0rem;
  }
}

.content-index-web-02-02{
  margin:0rem 1rem 10rem 0rem;
  img:nth-of-type(1){
    margin:0rem 0rem 5rem 0rem;
  }
  h3:nth-of-type(1){
    font-family: $Century-Bold;
    color:$negro;
    font-size: $tx-size-03;
    margin:0rem 0rem 3rem 0rem;
    text-align: center;
    @media screen and (max-width: $window-size-04) {
      font-size: $tx-size-05;
      margin:0rem 0rem 3rem 0rem;
    }
  }
  p:nth-of-type(1){
    font-family: $Century-Regular;
    color:$negro;
    font-size: $tx-size-07;
    span{
      font-family: $Century-Bold;
    }
  }
  @media screen and (max-width: $window-size-04) {
    margin:0rem 0rem 10rem 0rem;
  }
}