/* SECTION RECLUTAMIENTO SELECCION WEB 01 */
.section-reclutamiento-seleccion-web-01{
  padding: 7rem 0rem 0rem 0rem;
}
.content-reclutamiento-seleccion-01-01{
  h2:nth-of-type(1){
    font-family: $Century-Bold;
    color:$color01;
    font-size: $tx-size-05;
    margin:0rem 0rem 7rem 0rem;
    text-align: center;
  }
  @media screen and (max-width: $window-size-04) {
    margin:0rem 0rem 10rem 0rem;
  }
}