/* SECTION INDEX WEB 01 */
.section-index-web-01{
  padding: 7rem 0rem 0rem 0rem;
  @media screen and (max-width: $window-size-03) {
    padding:17rem 0rem 8rem 0rem;
  }
}
.content-index-web-01-01{
  h2:nth-of-type(1){
    font-family: $Century-Bold;
    color:$color01;
    font-size: $tx-size-05;
    margin:0rem 0rem 10rem 0rem;
    text-align: center;
  }
  @media screen and (max-width: $window-size-04) {
    margin:0rem 0rem 8rem 0rem;
  }
}
.content-index-web-01-02{
  img{
    height: 31.5rem;
    // width: auto;
    @media screen and (max-width: $window-size-02) {
      height: 25rem;
    }
    @media screen and (max-width: $window-size-03) {
      height: auto;
      width: 100%;
    }
  }
  .card-web{
    position: relative;
    padding: 2rem 1.5rem;
    border-bottom: .7rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 30rem;
    margin:0rem 0rem 10rem 0rem;
    border-radius: 0rem;
    h3:nth-of-type(1){
      font-family: $Century-Bold;
      color:$negro;
      font-size: $tx-size-03;
      margin: 0rem 0rem 3rem 0rem;
      @media screen and (max-width: $window-size-04) {
        font-size: $tx-size-06;
        margin: 0rem 0rem 2rem 0rem;
      }
    }
    p:nth-of-type(1){
      font-family: $Century-Regular;
      color:$negro;
      font-size: $tx-size-07;
      margin: 0rem 0rem 0rem 0rem;
      span{
        font-family: $Century-Bold;
      }
    }
    p:nth-of-type(2){
      // display: flex;
      // flex-direction: row;
      // justify-content: center;
      // align-items: flex-end;
      // // height: 100%;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 2.5rem;
      margin-left: auto; 
      margin-right: auto; 
      text-align: center;
      @media screen and (max-width: $window-size-04) {
        bottom: 0rem;
      }
      a{
        font-family: $Century-Bold;
        color:$blanco;
        font-size: $tx-size-07;
        background: $gradient04;
        padding: 1rem 1.2rem 1rem 6rem;
        border-radius: 1.2rem;
        &:hover{
          color: $blanco;
          background: $color01;
        }
        span i{
          margin-left: 4rem;
          font-size: $tx-size-08;
          @media screen and (max-width: $window-size-04) {
            margin-left: 1rem;
          }
        }
        @media screen and (max-width: $window-size-04) {
          padding: 1rem 0rem 1rem 0rem;
          width: 100%;
          text-transform: uppercase;
          display: inline-block;
        }
      }
    }
    @media screen and (max-width: $window-size-01) {
      height: 30rem;
    }
    @media screen and (max-width: 1400px) {
      height: 30rem;
    }
    @media screen and (max-width: 1300px) {
      height: 33rem;
    }
    @media screen and (max-width: $window-size-02) {
      height: 37rem;
    }
    @media screen and (max-width: $window-size-03) {
      height: 25rem;
    }
    @media screen and (max-width: $window-size-04) {
      border-radius: 0rem 0rem 1.2rem 1.2rem;
      padding: 2.5rem 1.5rem;
    }
    @media screen and (max-width: $window-size-05) {
      height: 25rem;
    }
    @media screen and (max-width: $window-size-05-a) {
      height: 32rem;
    }
    @media screen and (max-width: $window-size-05-b) {
      height: 36rem;
    }
  }
}