/* SECTION SERVICIOS TEMPORALES WEB 01 */
.section-servicios-temporales-web-01{
  padding: 7rem 0rem 0rem 0rem;
  // background: none;
  // @media screen and (max-width: 1920px) {
  //   background: url('../images/senaladores-secciones-grupo-alianza-gestion-de-talento-humano.webp');
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: 100% auto;
  // }
  // @media screen and (max-width: $window-size-04) {
  //   background: none;
  // }
}
.content-servicios-temporales-web-01-01{
  h2:nth-of-type(1){
    font-family: $Century-Bold;
    color:$color01;
    font-size: $tx-size-05;
    margin:0rem 0rem 2.5rem 0rem;
    text-align: center;
  }
  p:nth-of-type(1){
    font-family: $Century-Regular;
    color:$negro;
    font-size: $tx-size-07;
    margin:0rem 0rem 10rem 0rem;
    text-align: center;
    span{
      font-family: $Century-Bold;
    }
  }
  p:nth-of-type(2){
    font-family: $Century-Regular;
    color:$negro;
    font-size: $tx-size-07;
    margin:0rem 0rem 10rem 0rem;
    text-align: center;
    span{
      font-family: $Century-Bold;
    }
  }
  @media screen and (max-width: $window-size-04) {
    margin:0rem 0rem 0rem 0rem;
  }
}